[Desktop Entry]
# X-SuSE-DocTeamID=ycc_Virtualization
Type=Application
Categories=Qt;X-SuSE-YaST-Virtualization;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2

X-SuSE-YaST-Group=Virtualization
X-SuSE-YaST-SortKey=60

OnlyShowIn=X-SuSE-YaST;
Icon=virtualization

Name=Virtualization (Xen)

X-SuSE-translate=true
